.main-login button {
    width: 75%;
    border-radius: 7px;
    padding: 0.45rem 0.05rem 0.3rem 0;
}

.main-login .clear-btn {
    width: 24%;
}

.main-login .margin-bottom {
    padding-bottom: 0;
}

.register-btn:disabled {
    opacity: 100%;
}

.register-btn:disabled:hover {
    opacity: 70%;
    cursor: pointer;
}

.username-error {
    color: red;
}

#sagaFavorita {
    margin-bottom: 1rem;
}