html {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    margin: 0 auto;
    background-color: #0F0F0F;
}

body {
    background-color: #0F0F0F;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    max-width: 500px;
    min-width: 303px;
}

h3 {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

p {
    margin: 0;
}

a {
    color: #5500ff;
}

a:hover {
    text-decoration: none;
    color: #007bff;
}

main {
    margin-top: 1rem;
}

main, header {
    margin: 0 3rem;
}

.header-login {
    padding-bottom: 1rem;
    background-color: #0F0F0F;
}

.bi-pencil-square::before {
    font-size: 2.94rem;
    vertical-align: 0;
}

.logo {
    color: #0E69AA;
    background-color: #0F0F0F;
    display: flex;
    text-align: center;
    height: 2.94rem;
    font-size: 2.44rem;
    margin-bottom: 0.5rem;
}

.logo > p {
    line-height: 3.13rem;
}

.logo > p:hover {
    cursor: default;
}

.slogan {
    color: white;
    font-size: 1.5rem;
}

.slogan:hover {
    cursor: default;
}
.slogan > p {
    line-height: 1.75rem;
    font-weight: 300;
}

.btn-primary {
    background-color: #0E69AA;
    border-color: #0E69AA;
}

.main-login div {
    padding-bottom: 1rem;
}

.userpass {
    background-color: #3f3f3f;
    border-color: #0E69AA;
    border-radius: 5px;
    color: lightgray;
}

.userpass:focus, .userpass:hover {
    box-shadow: 0 0 10px #007bff;
}

.userpass:focus {
    background-color: #3f3f3f;
    border-color: #0E69AA;
    color: white;
}

.main-login button {
    width: 100%;
    border-radius: 7px;
    padding: 0.45rem 0.05rem 0.3rem 0;
}

.footer-login {
    background-color: #0F0F0F;
    text-align: center;
    color: #5500ff;
}

.form-control {
    height: 2.2rem;
    padding: .5rem .75rem .375rem;
}

.userpass::placeholder {
    color: #ADB5BD;
}

.bug {
    padding: .6rem .75rem .375rem;
}

.footer-login {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0 0.3rem;
}

@media only screen and (min-width: 992px) {
    .slogan {
        display: flex;
        justify-content: center;
        gap: 0.25em;
        margin-bottom: 1rem;
    }

    .logo {
        justify-content: center;
        margin-bottom: 1rem;
    }
}