html {
    font-family: 'Inter', sans-serif;
    background-color: #0F0F0F;
    margin: 0 auto;
}

body {
    max-height: 844px;
    background-color: #0F0F0F;
}

h3 {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 1rem 0 0 0;
}

p {
    margin: 0;
}

a {
    color: #5500ff;
}

a:hover {
    text-decoration: none;
    color: #007bff;
}

footer {
    margin-top: 14.5rem;
}

.header-login {
    margin-top: 16.49rem;
    background-color: #0F0F0F;
}

.bi-pencil-square::before {
    font-size: 2.94rem;
    vertical-align: 0;
}

.logo {
    color: #0E69AA;
    background-color: #0F0F0F;
    display: flex;
    text-align: center;
    height: 2.94rem;
    margin: 0;
    font-size: 2.44rem;
}

.logo > p {
    line-height: 3.13rem;
}

.logo > p:hover {
    cursor: default;
}

.slogan {
    color: white;
    font-size: 26px;
    margin: 0.5rem 0 0;
}

.slogan:hover {
    cursor: default;
}
.slogan > p {
    line-height: 1.75rem;
}

.btn-primary {
    background-color: #0E69AA;
    border-color: #0E69AA;
}

.main-login > form {
    background-color: #0F0F0F;
    padding-top: 1.25rem;
}

.main-login div {
    padding-bottom: 1rem;
}

.userpass {
    background-color: #3f3f3f;
    border-color: #0E69AA;
    border-radius: 7px;
    color: lightgray;
}

.userpass:focus {
    background-color: #3f3f3f;
    color: lightgray;
    border-color: #0E69AA;
}

.main-login button {
    width: 100%;
    border-radius: 7px;
    padding: 0.5rem;
}

.footer-login {
    background-color: #0F0F0F;
    text-align: center;
    color: #5500ff;
}