.header-login {
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 0;
}

p {
    text-align: center;
}

a {
    color: red;
}

body {
    height: inherit;
}

.slogan > p {
    font-size: 0.96rem;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    min-width: 303px;
    background-color: #0F0F0F;
}

.bi-x-circle::before {
    transform: rotate(45deg);
    color: #0e69aa;
    font-size: 5rem;
}

.endereco > p {
    text-align: left;
}

.footer-home {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #5500ff;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 2rem;
    align-items: end;
}

.flexbox p {
    text-align: left;
}

.bi-pencil-fill::before {
    margin-left: 0.2rem;
}

.cep > p {
    color: #22bf72;
}

.note-open-btn {
    width: 9rem;
    height: 9rem;
}

textarea {
    width: 100%;
}

button {
    background-color: inherit;
    border: none;
}

@media only screen and (min-width: 376px) {
    .slogan > p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 490px) {
    .slogan > p {
        font-size: inherit;
    }
}

@media only screen and (min-width: 992px) {
    .slogan {
        display: inherit;
        justify-content: inherit;
        margin-bottom: 0;
    }

    .logo {
        justify-content: inherit;
        margin-bottom: 0.5rem;
    }
}
