.header-login {
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 0;
}

p {
    text-align: center;
}

body {
    height: inherit;
}

.slogan > p {
    font-size: 0.96rem;
}

@media only screen and (min-width: 376px) {
    .slogan > p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 490px) {
    .slogan > p {
        font-size: inherit;
    }
}

@media only screen and (min-width: 992px) {
    .slogan {
        display: inherit;
        justify-content: inherit;
        margin-bottom: 0;
    }

    .logo {
        justify-content: inherit;
        margin-bottom: 0.5rem;
    }
}

footer {
    text-align: center;
}